body * {
  font-family: 'Inter', sans-serif;
  margin: 0px;
  font-size: 10px;
  box-sizing: border-box;
}

.container {
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.title {
  height: auto;
  padding: 10px;
  display: inline-block;
}

.control {
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
  margin-right: 5px;
  width: 100px;
}

.control button {
  padding: 5px;
  background: #ffffff;
  color: #ffffff;
  outline: 0;
  border: 0;
  width: 20px;
  height: 20px;
}

.control button:hover {
  background: #444444;
}

.title-bar {
  height: 30px;
  background: #000000;
  color: #ffffff;
  text-align: center;
}

.prevent-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.draggable {
  -webkit-app-region: drag;
}

.App {
  text-align: center;
}

.contents {
  display: flex;
}
.sidebar {
  width: 230px;
  border-right: 1px solid;
  height: calc(100vh - 30px);
}
.main {
  width: 730px;
}
